@import '~reboot.css';
@import './common.css';
@import '~include-media/dist/include-media';

$breakpoints:(phone:800px, tablet:1000px, desktop:1000px);
	

@include media(">desktop"){
	body {
		background:black;
	}
	.container{
		width: 900px;
	}
	.nav{
		flex-basis: 35%;
	}
	
	.list{
		 font-size: 12px;
	}
	.btn{
		flex-basis: 13%;
		font-size: 12px;
	}
	.sign_in .inp{
		padding: 3.4px;
		
	}
	.nav{
		flex-basis: 37%;
	}

	.first{
		flex-basis: 27%;
	}
	.second{
		flex-basis: 70%;
		display: flex;
    	flex-wrap: wrap;
	}
	.first .flex{
		display: flex;
		flex-direction: column;
	}
	.second_second{
		flex-basis: 70%;
	}

	.second_third{
		flex-basis: 27%;
	}
	.second_third .flex{
		display: flex;
		flex-direction: column;
	}
	.image{
		width: 100%;
	}
	.second_first .image{
		width: auto;
	}
	.text{
		display: flex;
		flex-wrap: wrap;
		-webkit-flex:1;
		-moz-flex:1;
	}
	.second_second .text{
		flex:1;
	}
	.second_third .flex{
		-webkit-flex: 1;
		-moz-flex:1;
	}
}

@include media(">=phone", "<=desktop"){
body {
    	display: flex;
		background:black;
	}
	.container{
		width: 100%;
    	flex-basis: 100%;
    	padding: 20px;
	}
	.nav{
		flex-basis: 37%;
	}
	.list{
		font-size: 1.2vw;
    	display: flex;
    	align-items: center;
	}
	.btn{
		flex-basis: 13%;
		font-size: 1.2vw;
	}
	.sign_in{
		height: 30px;
	}
	.sign_in .inp{
		padding: 2px;
	}
    .first .flex{
    	flex-direction: column;
        display: flex;
        -webkit-flex: 1;
        -moz-flex:1;
    }
     .text{
    	-webkit-flex:1;
    	-moz-flex:1;
    	display: flex;
    	flex-direction: column;
    	justify-content: space-between;
    }
	.second{
		display: flex;
    	flex-basis: 49%;
    	flex-wrap: wrap;
	}
	.first{
		flex-basis: 49%;
		-ms-flex:1;
		margin:0  20px 0 0 ;
	}
	.second_first{
		flex-direction: column;
		flex-basis: 100%;
	}
	.second_second{
		width: 48%;
	}
	.second_second .text{
		-ms-flex:1;
	}
	.second_third{
		width: 48%;
	}
	.image{
		width: 100%;

	}
	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
	   .second_third .image{
			height: 20vh;
		}
		.first .image{
			height: 50vh;
			flex:1;
		}
		.first .flex{
			flex:1;
		}
		.first .flex:first-child .text{
			padding-bottom: 40px;
		}
		.first .text{
			flex: 1;
			justify-content: flex-start;
		}
	} 
}

@include media("<phone"){
	body {
		background:black;
	}
	.top{
	    padding: 20px 20px 0 20px;
	}
	.navigaton{
		flex-direction: column-reverse;
	}
	.nav{
		flex-direction: column;
	}
	.list{
		border-bottom: 1px solid #ededed;
		display: flex;
    	align-items: center;
	}
	.btn{
		flex-basis: 100%;
    	display: flex;
    	margin-bottom: 10px;
    	background: white;
    	border-bottom: 1px solid #ededed;
	}
	.inp{
		display: none;
	}
	.content{
		flex-direction: column;
    	padding: 20px;
	}
	.second_first .flex{
		flex-direction: column;
	}
	.second_second, .second_first{
		flex-direction: column;
	}
	.image{
		width: 100%;
	}
}